.hiden{ 
    display: none;
}
nav{ 
    text-align: center;
}
.App{ 
    text-align: center;
}
.comments-h2{ 
    text-align: left;
    padding: 1em
}
.liveFeedback{ 
    padding:1em 0;
    background-color: rgb(219, 219, 209);
    margin-bottom: 1em;
}
.list-com{ 
    list-style-type:none;
    margin-left:0;
    
}
.list-com li { 
    border: black solid .5px;
    margin: .5em auto;
    background-color: rgb(219, 219, 209);
}
.comments-data{ 
    display:flex;
    justify-content: space-between;
    align-content: center;
}
.name-comment{
    text-align: left;
    padding: .2em;
}
.text-comment{
    padding: .5em;
}
.button-more{ 
    height: 3em;
    width: 15%;
    margin: 2em auto;
}
.page-item{
    font-size: large;
    padding:.5em;
    margin-bottom: .5em;
}